
.navbar {
    padding: 5px 15px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #1e88e5;
    color: #fff;
    transition: all 0.5s;
}

#sidebar.active { margin-left: -250px; }

.img-sidebar{
    margin: 12% 0;
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.img-navbar{
    width: 45px;
    height: 45px;
    margin-right: 12px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

#sidebar ul li a {
    padding: 10px;
    letter-spacing: 0.5px;
    margin-left: 15px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li:hover, .liActive{
    color: #1e88e5;
    background: #fafafa;
}

a[data-toggle="collapse"] { position: relative; }


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}